
.card {
    border-radius: 16px;
    width: 200px;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.92);
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;

}

.card .img span {
    width: 100%;
    height: 100%;
    transition: 0.8s;
}

.card:hover .img>span {
    transform: translateY(-100%);
    transition: 0.8s;
}

.card:hover .detalle {
    transform: translateY(0%);
    transition: 1s;
    transition-delay: 0.1s;
}

.detalle {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 20px 20px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
@media (max-width:880px){
    .detalle{
        font-size: 0.7rem;
    }
    .detalle h4{
        text-align: center;
        padding: 0.625rem;
    }
}