.contenedorCarrito{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: right;
    gap: 20px;
}
.textCartWidget{
    color: black;
    font-size: 1rem;
    font-weight: 500;
}
.imgCarrito{
    width: 35px;
    background: none;
}
.cantidad{
    display: flex;
    padding: 5px;
    border: solid 2px black;
    background-color: #AEC3B0;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 8px;
    position: absolute;
    bottom:25px;
    left: 25px;
    color: black;
    font-weight: bold;
}
.cartDiv{
    right: 20px;
    position: relative;
    height: auto;
}
.cart{
    position: relative;
}